<p>
  Generell biete ich meine Hilfe in den meisten Bereichen der Informatik an,
  hier sind dennoch beispielhaft die Themen aufgelistet,
  in welchen ich bereits Unterricht gegeben habe.
</p>
<ul class='course-list'>
  {{#each topics}}
  <li>
    {{> modifiers/highlight class='is-subtle is-slim'
      html=(nbsp_until 2 this)
    }}
  </li>
  {{/each}}
</ul>
<p>
  Diese Liste ist bei weitem nicht vollständig.
  Falls dein Themenbereich also nicht vorkommen sollte,
  kontaktiere mich dennoch gerne.
</p>
<p>
  Außerdem bringe ich mir häufig neues selbst bei
  und kann dir auch bei Themen helfen,
  die ich in der Vergangenheit noch nicht unterrichtet habe,
  indem ich mir das Material dazu ansehe.
</p>
